Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Bootstrap==3.3.7.1
Flask-Moment==1.0.5
email-validator==2.1.0.post1
python-dotenv==1.0.1
Werkzeug==3.0.1
SQLAlchemy==2.0.28
alembic==1.13.1
WTForms==3.1.2
Bootstrap-Flask==2.3.3
moment==0.12.1
Pillow==8.3.1
reportlab==3.6.1
PyPDF2==1.26.0
openpyxl==3.1.5
pandas==2.3.0
numpy==1.26.4
APScheduler==3.10.1
twilio==8.10.0 